{% spaceless %}
    {% if nbPages > 1 %}

        {# Number of page around current page+1 #}
        {% set nearbyPagesLimit = 4 %}

        <nav>
            <ul class="pagination justify-content-center">
                {% if currentPage != 1 %}
                    <li class="page-item">
                        <a class="page-link paginate" data-page="{{ 1 }}" onclick="site.actionPaginate(this); return false;" href="#">Первый</a>
                    </li>
                {% endif %}
                {% for i in 1..nbPages %}
                    {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                        <li class="page-item disabled">
                            <a class="page-link paginate" href="#">...</a>
                        </li>
                    {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                        <li class="page-item disabled">
                            <a class="page-link paginate" href="#">...</a>
                        </li>
                    {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                    {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                    {% else %}
                        <li class="page-item {% if currentPage == loop.index  %} active{% endif %} ">
                            <a class="page-link paginate" data-page="{{ loop.index }}" onclick="site.actionPaginate(this); return false;" href="#">{{ loop.index }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if currentPage != nbPages %}
                    <li class="page-item">
                        <span class="page-link">
                            <a class="paginate" data-page="{{ nbPages }}" href="#" onclick="site.actionPaginate(this); return false;">Последний</a>
                        </span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endspaceless %}