<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Курьер</th>
        <th scope="col">Регион</th>
        <th scope="col">Дата отправления</th>
        <th scope="col">Дата прибытия в регион</th>
        <th scope="col">Дата прибытия в Москву</th>
    </tr>
    </thead>
    <tbody>
    {% for key, value in timing %}
        <th scope="row">{{ value.getId }}</th>
        <td>{{ value.getCourier.getFio }}</td>
        <td>{{ value.getRegion.getName }}</td>
        <td>{{ value.getDateOfDeparture|date('Y-m-d')}}</td>
        <td>{{ value.getDateOfArrival|date('Y-m-d')}}</td>
        <td>{{ value.getDateOfReturn|date('Y-m-d')}}</td>
        </tr>
    {% endfor %}
    <tr>
    </tbody>
</table>
<div>
    {% include '_pagination.html.twig' %}
</div>
