<div class="form-group">
    <label>Выберите город назначения</label>
    <select class="form-control" id="regionForm" onchange="site.checkCreateForm()">
        <option value="0">-</option>
        {% for region in regions %}
            <option value="{{ region.id }}" data-date-transite="{{ region.daysInTransit }}">{{ region.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <input type="text" class="form-control" id="selectPeriod"  placeholder="Выберите дату отправления" data-provide="datepicker"
           data-date-format="dd-mm-yyyy" data-date-autoclose="true" onchange="site.checkCreateForm()"
    >
</div>
<div class="alert alert-primary" id="formTripNotification" role="alert">
    Выберите город и дату отправления
</div>
<div id="selectCouriers">
</div>
<div id="loaderCouriersCreateForm" style="display: none">
    Загрузка свободных курьеров ...
</div>