<div class="form-group">
    <label>Выберите курьера</label>
    <select class="form-control" id="selectCourier">
        {% for freeCourier in freeCouriers %}
            <option value="{{ freeCourier.id }}">{{ freeCourier.fio }}</option>
        {% endfor %}
    </select>
</div>
<p>Дней в пути: {{ dayInTransit }}</p>
<p>Дата прибытия в регион: {{ dateOfArrival }}</p>
<p>Дата возврата в Москву: {{ dateOfReturn }}</p>
<button type="button" class="btn btn-primary" onclick="site.addTrip()" data-dismiss="modal">Добавить поездку</button>