<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <br>
    {% if(alert) %}
        <div class="alert alert-danger" role="alert">
            {{ alert }}
        </div>
    {% endif %}
    {% if(notification) %}
        <div class="alert alert-primary" role="alert">
            {{ notification }}
        </div>
        <br>
    {% endif %}
    {% block content %}{% endblock %}
</div>
<script src="../../dist/bundle.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>