{% extends "index.html.twig" %}

{% block title %}
    Список задач
{% endblock %}

{% block content %}
    <div class="alert alert-danger" role="alert" id="error_alert" style="display: none">
        <strong><span id="error_message"></span></strong>
    </div>
    <div>
        <div class="form-row align-items-center">
            <div class="col-sm-3 my-1">
                <label class="sr-only" for="startPeriodDatepicker">startPeriodDatepicker</label>
                <input type="text" class="form-control" id="startPeriodDatepicker" placeholder="Начало периода" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-date-autoclose="true">
            </div>
            <div class="col-sm-3 my-1">
                <label class="sr-only" for="endPeriodDatepicker">endPeriodDatepicker</label>
                <input type="text" class="form-control" id="endPeriodDatepicker" placeholder="Конец периода" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-date-autoclose="true">
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary" id="filter_timing"><span class="spinner-border spinner-border-sm" id="loading" role="status" aria-hidden="true"></span>Отфильтровать</button>
                <button type="submit" class="btn btn-primary" data-toggle="modal" id="addTripButton" data-target="#createFormModal">Добавить поездку</button>
            </div>
        </div>
    </div>
    <div id="timing-sheduler">
    </div>
    <div class="modal fade bd-example-modal-lg" id="createFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Форма добавления поездки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="createTripForm">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>let site = new app.Site();</script>
{% endblock %}